*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.mainDiv{
  width: 100%;
  height: 100vh;
  background: #919396;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.centerDiv{
  width: 40%;
  height: 80vh;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

h1{
  color:white;
  background: transparent;
  background-color: #7b44be;
  padding: 6px 0 2px 0;
  margin-bottom: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3); 
}

input{
  text-align: center;
  height: 30px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  width: 60%;
  border-bottom: 2px solid #7b44be;
  outline: none;
}

button{
  min-height: 40px;
  width: 40px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #7b44be;
  color: #fff;
  font-size: 30px;
  border: none;
  outline: none;
  margin-left: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

button:hover{
  background-color: #20bf6b;
}

ol, h3{
  margin-top: 30px;
  margin-left: 10px;
}

ol, li, h3{
  padding-left: 0px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  min-height: 40px;
  display: flex;
  align-items: center;
  color: #7b44be;
  text-transform: capitalize;
}

.todo_style {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.todo_style .fa-trash{
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7b44be;
  border-radius: 50%;
  margin: 0 15px 0 35px;
  color: aliceblue;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3); 
}

.fa-check-circle{
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7b44be;
  border-radius: 50%;
  margin: 0 15px 0 35px;
  color: aliceblue;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3); 
}

.flexed{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 768px){
  .mainDiv{
    height: 100%;
  }

  .centerDiv{
    width: 100%;
    height: 0;
    border-radius: 0px;
  }

  .todo_style .fa-trash{
    margin: 0 15px 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button{
    margin-left: 5px;
    min-height: 40px;
    width: 40px;
    color: #fff;
    font-size: 20px;
  }
  .flexed{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}